{% extends "layout.twig" %}

{% block title %} <title> Accueil </title> {% endblock %}
{% block content %}


<img class="home-image" src="https://universalsoluce.com/design/jeux/banniere_base.png" alt="">

<div class="container">

<!-- Header -->
        <section class="jumbotron my-4">
            <h1 class="display-3">Accueil {{message}}</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <br>            
            <a href="index.php?action=afficherAnnoncesNouveautes&param=1&paramLibelle=Nouveautés" class="btn btn-primary btn-lg">Voir les nouveautés</a>
        </section>

        <div class="row text-center">


            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                    <img class="card-img-top" src="https://nintendalerts.com/wp-content/uploads/2019/09/SQ_NSwitchDS_FinalFantasyVIIIRemastered.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Titre</a>
                        </h4>
                        <p class="card-text">Description</p>
                    </div>

                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                    <img class="card-img-top" src="https://nintendalerts.com/wp-content/uploads/2019/09/SQ_NSwitchDS_FinalFantasyVIIIRemastered.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Titre</a>
                        </h4>
                        <p class="card-text">Description</p>
                    </div>

                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                    <img class="card-img-top" src="https://nintendalerts.com/wp-content/uploads/2019/09/SQ_NSwitchDS_FinalFantasyVIIIRemastered.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Titre</a>
                        </h4>
                        <p class="card-text">Description</p>
                    </div>

                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                    <img class="card-img-top" src="https://nintendalerts.com/wp-content/uploads/2019/09/SQ_NSwitchDS_FinalFantasyVIIIRemastered.jpg" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Titre</a>
                        </h4>
                        <p class="card-text">Description</p>
                    </div>

                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
        
        <section>
            <nav class="socialmedia text-center" id="socialmedia">
                <a href="#" target="_blank"> <img src="public/image/facebook.png" alt="facebook"></a> 
                <a href="#" target="_blank"> <img src="public/image/insta.png" alt="Instagram"></a>
                <a href="#" target="_blank"> <img src="public/image/twitter.png" alt="twitter"></a>
            </nav>
        </section>
    </div>


{% endblock %}