@font-face {
    font-family: "Final";
    src: url("./public/font/finalf.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    background: #E5E7EB;
}

#menu {
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu .nav-menu {
    display: flex;
    align-items: center;
}
#menu .logo {
    display: flex;
    align-items: center;
    margin: 1.5em;
}

#menu .logo a {
    text-decoration: none;
    color: white;
}

#menu .logo img {
    width: 55px;
    margin-right: 8px;
}

#menu .logo h2 {
    font-family: "Final", sans-serif;
    font-size: 26px;
    color: #F3F4F6;
    margin-bottom: 0;
}

#menu .items {
    margin: 0;
    padding: 0;
    display: flex;
}

#menu .items li {
    list-style: none;
    padding: 0 0.5em;
}

#menu .items li a {
    text-decoration: none;
    font-size: 18px;
    color: #F3F4F6;
}

#menu .items li a:hover {
    color: rgb(115, 126, 136);
    cursor: pointer;
}

#menu .nav-end {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
}

#menu .nav-end .search {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 4em;
    border-radius: 6px;
    background-color: white;
}

#menu .nav-end .search button {
    background-color: white;
    border: 0;
}

#menu .nav-end .search i {
    margin-right: 14px;
    color: #111827;;
}

#menu .nav-end .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#menu .nav-end .profile a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#menu .nav-end .profile a:hover {
    color: rgb(115, 126, 136);
    cursor: pointer;
}

#menu .nav-end .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 0.5em;
}

#nav-cat {
    background-color: white;
    display: flex;
    justify-content: center;
}

#nav-cat .items-cat {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    padding: 0;
}

#nav-cat .items-cat li {
    list-style: none;
    text-transform: uppercase;
    padding: 0 0.8em;
}

#nav-cat .items-cat li a {
    text-decoration: none;
    color: dimgrey;
    font-size: 18px;
}

#nav-cat .items-cat li a:hover {
    font-weight: 900;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #111827;
    padding: 3em 0;
}

#footer .block {
    color: white;
}

#footer .block h2 {
    font-size: 20px;
    text-align: start;
    padding-bottom: 0.5em;
    border-bottom: 1px solid;
}

#footer .block .block-items {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

#footer .block .block-items a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

#footer .block .block-items a:hover {
    color: #E5E7EB;
    font-weight: 800;
}

#footer .block img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0.7em;
}

#footer .collab {
    display: flex;
}

@media (max-width: 1024px) {
    #menu .logo h2 {
        font-size: 20px;
        font-weight: 700;
    }
    
    #menu .nav-end .search {
    padding: 8px;
    margin-right: 2em;
    }
}

@media (max-width: 768px) {
    #menu .logo {
        margin: 1.5em 0.5em;
    }
    #menu .logo img {
        width: 35px;
        margin-right: 5px;
    }
    
    #menu .logo h2 {
        font-size: 16px;
    }
    
    #menu .items li a {
        font-size: 14px;
    }
    
    #nav-cat .items-cat li a {
        font-size: 16px;
    }

    #menu .nav-end .search {
        padding: 4px;
        margin-right: 1em;
    }
            
    #menu .nav-end .search input {
        font-size: 13px;
    }
    
    #menu .nav-end .profile a {
        font-size: 14px;
    }
    
    #menu .nav-end .profile img {
        width: 30px;
        height: 30px;
        margin-left: 0.1em;
    }
    
    #footer .block h2 {
        font-size: 17px;
    }
    
    #footer .block .block-items a,
    #footer .block .block-items li{
        font-size: 12px;
    }
    
    #footer .block img {
        width: 100px;
        height: 100px;
        margin: 0.5em;
    }
}


@media (max-width: 640px) {
    #menu .logo {
        margin: 1.5em 0 1.5em 0.5em;
    }
    
    #menu .logo img {
        margin-right: 0;
    }
    
    #menu .logo h2 {
        display: none;
    }
    
    #nav-cat .items-cat li a {
        font-size: 15px;
    }

    #footer .block img {
        width: 95px;
        height: 95px;
        margin: 1em 0.5em;
    }
}

@media (max-width: 500px) {
    /* Faire un menu complet pour mobile y compris pour la nav des catégories */
    
    #footer {
        flex-wrap: wrap;
    }
    
    #footer .block h2 {
        font-size: 16px;
    }
    
    #footer .block img {
        margin-top: 1.5em;
    }
}
