body {
    margin: 0;
    padding: 0;
    background: #E5E7EB;
}

#menu {
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu .nav-menu {
    display: flex;
    align-items: center;
}
#menu .logo {
    display: flex;
    align-items: center;
    margin: 1.5em;
}

#menu .logo a {
    text-decoration: none;
    color: white;
}

#menu .logo img {
    width: 45px;
    margin-right: 15px;
}

#menu .logo h2 {
    font-size: 25px;
    color: #F3F4F6;;
}

#menu .items {
    margin: 0;
    padding: 0;
    display: flex;
    /*width: 50%;*/
}

#menu .items li {
    list-style: none;
    padding: 0 0.5em;
}

#menu .items li a {
    text-decoration: none;
    color: #F3F4F6;
}

#menu .items li a:hover {
    color: rgb(115, 126, 136);
    cursor: pointer;
}

#link-log {
    background-color: red;
}

#link-account {
    background-color: green;
}

#menu .search {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 2em;
    border-radius: 6px;
    background-color: white;
}

#menu .search button {
    background-color: white;
    border: 0;
}

#menu .search i {
    margin-right: 14px;
    color: #111827;;
}

#menu .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#nav-cat {
    background-color: white;
    display: flex;
    justify-content: center;
}

#nav-cat .items-cat {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

#nav-cat .items-cat li {
    list-style: none;
    text-transform: uppercase;
    padding: 0 0.8em;
}

#nav-cat .items-cat li a {
    text-decoration: none;
    color: dimgrey;
}

#nav-cat .items-cat li a:hover {
    font-weight: 900;
}